<div class="d-flex flex-column">
  <h1 class="display-4 align-self-center">Pending User Doses</h1>
  <p-table [value]="unapprovedData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" *ngIf="unapprovedData && unapprovedData.length">
    <ng-template pTemplate="header">
      <tr>
        <th>Approval Number</th>
        <th>User Email</th>
        <th>Vaccine Name</th>
        <th>Dose Number</th>
        <th>Dose Certificate ID</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowNumber="rowIndex">
      <tr>
        <td>{{ rowNumber + 1 }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.vaccine_name }}</td>
        <td>{{ data.dose_num }}</td>
        <td>{{ data.dose_cid }}</td>
        <td>
          <button class="btn approve mx-1" (click)="approve(data.approval_id)">Approve</button>
          <button class="btn decline mx-1" (click)="disapprove(data.approval_id)">Decline</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-progressSpinner strokeWidth="3" animationDuration="1s" [style]="{ width: '30px', height: '30px' }" *ngIf="unapprovedData === null"></p-progressSpinner>
  <h2 class="message" *ngIf="unapprovedData && unapprovedData.length === 0">
    There are no pending approvals for now
  </h2>
</div>