tr {
    background-color:bisque
}
td {
    color:brown;
    font-weight: bold;
}
.display-4 {
    color: brown;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}
.approve {
    background-color: rgb(187, 216, 207);
}
.decline{
    background-color: rgb(250, 160, 140);
}
.message{
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}