.btn {
    border: 2px solid brown;
    background-color: rgb(243, 175, 163);
}
.display-3 {
    color:brown;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}
.form {
    margin-top: 100px;
}
input {
    background-color: bisque;
    border-color: brown;
    transition: background-color 0.5s;
    &:hover {
        background-color: rgb(241, 218, 224);
    }
}
