<form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">

  <div class="form-group">
  <label for="newPassword">New Password</label>
  <input type="password" class="form-control" id="newPassword" name="newPassword" 
  ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+]).{8,}$">
  <div *ngIf="changePasswordForm.controls['newPassword']?.errors?.required && 
  (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)" 
  style="color: red;">
    *New Password is required
  </div>
  </div>

  <div class="form-group">
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" 
  ngModel required [pattern]="changePasswordForm.controls['newPassword'].value">
  <div *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.required && 
  (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" 
  style="color:red">
  *Confirm Password is required
  </div>

  <div *ngIf="changePasswordForm.controls['newPassword']?.value !== changePasswordForm.controls['confirmPassword']?.value && 
  changePasswordForm.controls['confirmPassword'].dirty" style="color: red">
  *Passwords do not match
  </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid ">Change Password</button>
  </form>
  