<div class="main-div">
    <h1 class="heading">EMPLOYEES</h1>
    <div class="first-row d-flex justify-content-evenly">
        <button class="add btn p-5" (click)="addEmployeePage()">Add a new employee</button>
        <button class="view btn p-5" (click)="viewEmployeesPage()">View all the employees</button>
    </div>
    <div class="second-row d-flex justify-content-center">
        <button class="approve btn p-5" (click)="approveDosePage()">Approve dose details of employees</button>
    </div>
</div>