.btn {
    background-color:  rgb(232, 138, 118);
    border-color: rgb(227, 85, 85);
    box-shadow: 5px 5px 5px grey;
    margin-left: 20px;
}
.heading {
    color: brown;
    text-align: center;
    font-weight: bold;
}
.form-group {
    margin: 100px;
}
.vaccine-div {
    border-top: 50px solid #9e3028;
}
.input-vaccine input{
    margin-left: 20px;  
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 10px 10px 10px rgb(191, 167, 213);
    } 
}
img{
    width:auto;
}
