<div class="users-list-div d-flex flex-column">
  <h1 class="display-4">EMPLOYEES</h1>
<div>
    <div class="filters d-flex">
        <input type="date" class="form-control mx-3" [(ngModel)]="date" [ngbTooltip]="'Select date filter'"/>
        <input type="text" class="form-control mx-3" [(ngModel)]="vaccine" placeholder="vaccine name" [ngbTooltip]="'Enter vaccine name filter'"/>
        <input type="number" class="form-control mx-3" [(ngModel)]="doseNum" placeholder="dose number" [ngbTooltip]="'Select dose number filter'"/>
    </div>
   <button class="btn" (click)="fetchEmployees()">Fetch Employees</button>
</div>
<p-table [value]="users" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" *ngIf="users && users.length">
    <ng-template pTemplate="header">
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Vaccine</th>
        <th>Dose Number</th>
        <th>Dose Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-i="rowIndex">
      <tr class="tr">
        <td>{{ i + 1 }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.vaccine_name }}</td>
        <td>{{ user.dose_num }}</td>
        <td>{{ user.dose_date }}</td>
      </tr>
    </ng-template>
  </p-table>
  <h1 style="color: rgba(0, 0, 0, 0.6); text-align: center;" *ngIf="users && users.length == 0">
    There are no users to show
  </h1>
  <p-progressSpinner strokeWidth="3" animationDuration="1s" [style]="{ width: '30px', height: '30px' }" *ngIf="users === null"></p-progressSpinner>
</div>