.btn {
    border: 2px solid brown;
    background-color: rgb(246, 202, 202);
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: brown;
    transition: background-color 0.5s;
    &:hover {
        background-color: rgb(131, 133, 158);
    }
    
}
.display-4 {
    color: brown;
    font-weight: bold;
    margin-bottom: 50px;
}
.form-control {
    border-color: brown;
    background-color: rgb(223, 218, 218);
}
.tr{
    background-color: bisque;
    border: brown;
}

td{
    color: brown;
    font-weight: bold;
}
.users-list-div{
    border-top:50px solid #9e3028;
    text-align: center;
}