.profile-form {
    padding: 20px;
}
.display-4 {
    font-weight: bold;
    color:brown;
}
.profile {
    height: 100%;
}
.display-4 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.btn {
    background-color: rgb(232, 138, 118);  
}
input {
    background-color: bisque;
    transition: box-shadow ;
    &:hover {
         box-shadow: 10px 10px 10px #c5928e;
    }
}
