.profileForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}
.display-4 {
    font-weight: bold;
    color:brown;
}
.profile {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group.row {
    margin-bottom: 15px;
}

.btn {
    background-color: rgb(232, 138, 118);
    margin: 0 auto; 
}
