.form {
    margin-left: 100px;
    padding: 20px;
}
h1{
    margin-left: 200px;
    margin-top: 50px;
    font-weight: bold;
    color: brown;
}
.btn {
    background-color: rgb(222, 165, 165);
    border-color: brown;
}
.form-group {
    margin-bottom: 20px;
}
label{
    color:rgb(180, 83, 83);
}
input, select {
    background-color: bisque;
    transition: box-shadow 0.3s;
    &:hover{
        box-shadow: 10px 10px 10px rgb(138, 153, 179);
    }
}