div{
    position: fixed;
    bottom: 50px;
    left: 50%;
    width: 300px;
    background-color: rgb(234, 149, 143);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    transform: translate(-50%);
}